:root {
    --sizeT: 20px;
    --sizeButtons: 15px;
    --sizeTipe: 18px;
    --sizeaStates: 18px;
    --blur: 6px
}

.card_text {
    font-size: var(--sizeT);
}

.card_pokedex {
    position: relative;
    background-image: url(https://thumbs.gfycat.com/AlarmingSlipperyAstrangiacoral-size_restricted.gif);
    background-position: center;
    font-weight: 900;
}

.card_button {
    font-size: var(--sizeButtons);
}

.card_header {
    width: 100%;
    z-index: 0;
}

.card_image_card {
    width: 40%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.card_select {
    width: 100%;
    background-color: rgb(54, 49, 49);
    color: rgb(150, 125, 125);
    font-weight: 600;
    border: 1px solid black;
    font-size: var(--sizeButtons);
}

.card_config {
    box-sizing: border-box;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
}

.card_select::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
}

.card_select::-webkit-scrollbar-thumb {
    background-color: rgb(219, 37, 37);
    border-radius: 5px;
}

.card_option {
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.card_pokemones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(var(--blur));
}


.card_pokemonCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 2%;
    row-gap: 10px;
    margin: 10% 0;
}


.card_pokemonCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 300px;
    border-radius: 10px;
    margin: 5%;
    transition: all 0.5s;
    cursor: pointer;
}

.card_pokemonCard:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card_pokemonImage {
    width: 70%;
}

.card_pokemonName {
    font-size: var(--sizeT);
    font-weight: 600;
    text-align: center;
}

.card_pokemonName::first-letter,
.state_name::first-letter,
.type::first-letter {
    text-transform: capitalize;
}

.state_name,
.type {
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(4, 4, 4);
    font-size: var(--sizeTipe);
}

.type {
    padding-bottom: 8%;
}

.state_base {
    font-weight: 800;
    font-size: var(--sizeaStates);
}

.card_states {
    text-align: center;
}

.card_background {
    border-radius: 15px;
}

.card_info {
    padding: 35px 0px;
    background-color: rgb(193, 177, 177);
    width: 100%;
}

.card_caracteristics {
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card_properties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    row-gap: 1%;
    column-gap: 1%;
}

.card_form_search {
    width: 70%;
    display: flex;
}

.card_contain {
    width: 100%;
    backdrop-filter: blur(var(--blur));
}

.card_buttons {
    max-width: 50%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 5%;
    margin: 0 auto;
}

.button_number{
    max-width: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: var(--sizeButtons);
    box-sizing: border-box;
    font-weight: 800;
    padding: 2%;
}
.card_rotate{
    max-width: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: var(--sizeButtons);
    box-sizing: border-box;
    font-weight: 800;
    padding-top:0;
}

.button_number:hover,
.card_rotate:hover {
    background-color: red;
    color: white;
}

.card_loading {
    width: 100%;
    height: 100vh;
}

@media(max-width:950px) {
    .card_pokemonCards {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(max-width:650px) {
    .card_pokemonCards {
        grid-template-columns: repeat(1, 1fr)
    }
}

@media(max-width:430px) {
    :root {
        --sizeT: 20px;
        --sizeButtons: 12px;
        --sizeTipe: 18px;
        --sizeaStates: 18px;
    }
}

@media(max-width:350px) {
    :root {
        --sizeT: 20px;
        --sizeButtons: 10px;
        --sizeTipe: 18px;
        --sizeaStates: 18px;
    }
}

@media(max-width:300px) {
    :root {
        --sizeT: 17px;
        --sizeButtons: 10px;
        --sizeTipe: 15px;
        --sizeaStates: 15px;
    }
}

@media(max-width:240px) {
    :root {
        --sizeT: 15px;
        --sizeButtons: 8px;
        --sizeTipe: 12px;
        --sizeaStates: 12px;
    }
}

@media(max-width:200px) {
    :root {
        --sizeT: 12px;
        --sizeButtons: 6px;
        --sizeTipe: 10px;
        --sizeaStates: 10px;
    }
}